{% extends "_base.html" %}
{% load widget_tweaks %}

{% block title %}{{ class.name }}{% endblock %}

{% block content %}

    <div class="container">
        <div>
            <h1>{{ class.name }}</h1>
        </div>

        {% if is_admin %}
            <div>
                <h3>Teachers</h3>
                <ul class="list-group col-3">

                    {% for teacher in class.teachers.all %}
                        <li class="list-group-item">{{ teacher.first_name }} {{ teacher.last_name }}</li>
                    {% endfor %}
                    <button class="list-group-item list-group-item-action list-group-item-success"
                            data-bs-toggle="modal" data-bs-target="#exampleModal">Manage Teachers
                    </button>
                </ul>
            </div>
            <a href="{% url 'student:upload' class.id %}">Upload Excel</a>
            <div class="mt-2">
                <h3>Students</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.order_in_class }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.phone_number }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Manage Teachers</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'school:add_teacher' class.id %}" method="POST">
                            <div class="modal-body">
                                {% csrf_token %}
                                {{ add_teacher_form.teachers.label_tag }}
                                {% render_field add_teacher_form.teachers class="form-control" %}
                                <small class="text-muted">Use Control/Command to select</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        {% endif %}

{% endblock %}